repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: uv run ruff ruff-check --fix
        language: system
        types: [python]
        always_run: true
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format 
        language: system
        types: [python]
        always_run: true